html, body {
    height: 100%;
    width: 100%;
}

.nav-extend 
{
    min-height: 100%;
}

.nav-sidebar
{
    position: fixed;
    height: 100vh;
    background-color: #333333;
}

.nav-sidebar-logo
{
    border-radius: 50%;
}