<!DOCTYPE html>
<html lang="en-NZ">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="description" content="{{ site.description }}">
  <meta name="url" content="https://tc.nz/">
  <meta name="rating" content="General">
  <meta name="format-detection" content="telephone=no">
  <meta name="geo.region" content="NZ-WGN">
  <meta name="geo.placename" content="Wellington">

  <link rel="alternate" href="{{ absolute_url }}/feed.xml" type="application/atom+xml" title="RSS"> 
  {% css main %}

  <title>{{ page.title }} - tc.nz</title>
</head>

<body>
  <div class="col-2 nav-sidebar">
    <header style="text-align:center">
      {% img logo width:100% height:auto class:nav-sidebar-logo %}
      <h2 style="color: white">{{ site.title }}</h2>
    </header>
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link active"><i class="fa fa-home" aria-hidden="true"></i> Overview </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-star" aria-hidden="true"></i> Example </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fa fa-content" aria-hidden="true"></i> Test </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid nav-extend">
    <div class="row no-gutters">
      
      <div class="offset-2 col">
        {{ content }}
      </div>
    </div>
  </div>
  {% js main %}
</body>

</html>