<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
  {% include layout-head.html %}
</head>

<body>
  {% include layout-nav.html %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1>{{ page.title }}</h1>
      </div>
      {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
      <div class="col-md-6 col-sm-12 text-md-right"><i>Posted: {{ page.date | date: date_format }}</i><br/>
        {% for tag in page.tags %}
        <a class="btn btn-secondary btn-sm" href="{{ site.url }}/tag/{{ tag }}" role="button">{{ tag }}</a>{% endfor %}
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-12">
        {{ content }}
      </div>
    </div>
  </div>
  {% include layout-footer.html %}
</body>

</html>